@page "{advertisementId?}"
@model zeaploy.Pages.Applications.ApplicationsModel
@{
}
@if (@Model.OpenAdvertisement == null)
{
    <h5>All Applications</h5>
}
else
{
    <h5>Applications for Company: @Model.OpenAdvertisement.Company</h5>
}

<form class="row d-flex justify-content-start">
    <div class="col-6">
        <input class="form-control" asp-for="SearchCriteria" type="search" placeholder="Search by company name or user name/e-mail">
    </div>
    <div class="col">
        <button class="btn btn-success" type="submit">Search</button>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Application Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
            <th scope="col">Application Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Applications)
        {
            <tr scope="row">
                <td>@item.Id</td>
                <td>@item.AppUser.Name</td>
                <td>@item.AppUser.Email</td>
                <td>@item.Advertisement.Company</td>
                <td>@item.Advertisement.Position</td>
                <td>@item.DateCreated.ToShortDateString()</td>
                <td><a class="bnt bnt-danger" asp-page="/Applications/Delete" asp-route-applicationId="@item.Id">Remove Application</a></td>
            </tr>
        }
    </tbody>
</table>
