@page "{advertisementId?}"
@model zeaploy.Pages.Applications.ApplicationsModel
@{
}

<ul class="list-group col-sm-12">
    <li class="list-group-item">
        @if (@Model.OpenAdvertisement == null)
        {
            <h5><b>All Applications</b></h5>
        }
        else
        {
            <h5><b>Applications for Company: @Model.OpenAdvertisement.Company</b></h5>
        }
    </li>
    <li class="list-group-item">
        <form class="row d-flex justify-content-start">
            <div class="col-6">
                <input class="form-control" asp-for="SearchCriteria" type="search" placeholder="Search by company name or user name/e-mail">
            </div>
            <div class="col">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var aplication in Model.Applications)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Name: @aplication.AppUser.Name</h6>
                            <p>Email: @aplication.AppUser.Email</p>
                            <h6 class="card-title">Company: @aplication.Advertisement.Company</h6>
                            <p>Position: @aplication.Advertisement.Position</p>
                            <p>Applied: @aplication.DateCreated.ToShortDateString()</p>
                            <p class="small">Application id: @aplication.Id</p>
                            <a class="btn btn-outline-danger" asp-page="/Applications/Delete" asp-route-applicationId="@aplication.Id">Remove</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </li>
</ul>
