@page "{advertisementId}"
@model zeaploy.Pages.Applications.CreateModel
@{
}

<h1>Create Applications</h1>

<div class="container">
    <div class=" text-center mt-5 ">
        <h2> Application for a job position: @Model.Advertisement.Position Company: @Model.Advertisement.Company</h2>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form method="post" id="contact-form" role="form" enctype="multipart/form-data">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Name:</label>
                                            <input id="form_name" type="text" name="name" class="form-control" value="@Model.AppUser.Name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_email">Email: </label>
                                            <input id="form_email" type="text" name="email" class="form-control" value="@Model.AppUser.Email" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_name">Course: </label>
                                        <input id="form_course" type="text" name="course" class="form-control" value="@Model.AppUser.Course" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="formFile" class="form-label mt-4">CV</label>
                                        <input type="file" class="form-control" id="formFile" asp-for="@Model.CV">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="formFile" class="form-label mt-4">Cover Letter</label>
                                        <input type="file" class="form-control" id="formFile" asp-for="@Model.CoverLetter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                
                                <button type="submit" class="btn btn-success btn-send  pt-2 btn-block"> Apply </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>