@page "{advertisementId}"
@model zeaploy.Pages.Applications.CreateModel
@{
}
<ul class="list-group col-sm-8 offset-sm-2">
    <li class="list-group-item">
        <h5><b>Application for a job position of @Model.Advertisement.Position at @Model.Advertisement.Company</b></h5>
    </li>
    <li class="list-group-item">
        <div class="card mt-2">
            <div class="card-body bg-light">
                <div class="container">
                    <form method="post" id="contact-form" role="form" enctype="multipart/form-data">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Name:</label>
                                        <input id="form_name" type="text" name="name" class="form-control" value="@Model.AppUser.Name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email: </label>
                                        <input id="form_email" type="text" name="email" class="form-control" value="@Model.AppUser.Email" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_name">Course: </label>
                                    <input id="form_course" type="text" name="course" class="form-control" value="@Model.AppUser.Course" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="formFile" class="form-label mt-4">CV</label>
                                    <input type="file" class="form-control" id="formFile" asp-for="@Model.CV">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="formFile" class="form-label mt-4">Cover Letter</label>
                                    <input type="file" class="form-control" id="formFile" asp-for="@Model.CoverLetter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-success btn-send"> Apply </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>