@page
@model zeaploy.Pages.Advertisements.AdvertisementsModel
@{
}

@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-center">
        <a asp-page="/Advertisements/Create" class="btn btn-primary">Create new Advertisement</a>
    </div>
    <hr />
}

@foreach (var item in Model.Advertisements)
{
    <div class="container ad-container rub">
        <div class="row">
            <div class="col-4">
                <h2> @item.Company</h2>
            </div>
            <div class="col">
                <h2 style="text-align:left">@item.Position</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="col">
                    <h5>@item.Location</h5>
                </div>
                <div class="col">
                </div>
            </div>

            <div class="col">
                <div class="col">
                    <p>Posted @item.Posted.ToShortDateString()</p>
                </div>
                <div class="col">
                    <p> @item.JobType</p>
                </div>
                <div class="col">
                    <p>Wage: @item.Wage</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary " asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Details">Details</a>
                </div>

                @if (!User.IsInRole("Admin"))
                {
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-route-advertisementId="@item.Id" asp-page="/Applications/Create">Apply</a>
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        <a class="btn btn-primary" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Edit">Edit</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Delete">Delete</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary" asp-route-advertisementId="@item.Id" asp-page="/Applications/Applications">See Applications</a>
                    </div>
                }
            </div>
        </div>
    </div>
}
