@page
@model zeaploy.Pages.Advertisements.AdvertisementsModel
@{
}
 <a asp-page="/Advertisements/CreateAdvertisement" class="btn btn-primary">Create new Advertisement</a>

 <table class="table">
    <thead>
        <tr>
            <th>  Company   </th>
            <th>    Description </th>
            <th>  Job Type   </th>
            <th>    Position </th>
            <th>  Posted   </th>
            <th>    Wage </th>
            <th>  Location   </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Advertisements)
        {
        <tr>
            <td> @item.Company </td>
           <td> @item.Description</td>
           <td> @item.JobType</td>
           <td> @item.Position</td>
           <td> @item.Posted</td>
           <td> @item.Wage</td>
           <td>@item.Location</td>
           <td><a asp-page="/Applications/CreateApplication" asp-route-advId="@item.Id" class="btn btn-primary">Apply</a></td>
            
        </tr>
        }
    </tbody>
</table>