@page
@model zeaploy.Pages.Advertisements.AdvertisementsModel
@{
}

@if (User.IsInRole("Admin"))
{
    <a asp-page="/Advertisements/Create" class="btn btn-primary">Create new Advertisement</a>
}

@foreach (var item in Model.Advertisements)
{
    <div class="container ad-container rub">
        <div class="row">
            <div class="col-4">
                <h2> @item.Company</h2>
            </div>
            <div class="col">
                <h2 style="text-align:left">@item.Position</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="col">
                    <h5>@item.Location</h5>
                </div>
                <div class="col">
                    
                </div>
            </div>

            <div class="col">
                <div class="col">
                    <p>Posted @item.Posted.ToShortDateString()</p>
                </div>
                <div class="col">
                    <p> @item.JobType</p>
                </div>
                <div class="col">
                    <p>Wage: @item.Wage</p>
                </div>
                <div class="col">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Edit">Edit</a>
                        <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Delete">Delete</a>
                    }

                    @if (User.IsInRole("Student"))
                    {
                        <p style="text-align:right"> <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Applications/Create">Apply</a></p>
                    }
                    </div>
          
                    <p style="text-align:right"> <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Applications/Create">Apply</a></p>
                    <p style="text-align:right"> <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Details">Details</a></p>
                </div>
                <div class="col">
                    <p style="text-align:right"> <a class="btn btn-primary" style="margin-right:20px" asp-route-advertisementId="@item.Id" asp-page="/Applications/Applications">See Applications</a></p>
                </div>
            </div>
        </div>
    </div>
}