@page
@inject IApplicationService apService
@model zeaploy.Pages.Advertisements.AdvertisementsModel
@{
}

@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-center">
        <a asp-page="/Advertisements/Create" class="btn btn-primary">Create new Advertisement</a>
    </div>
    <hr />
}

<ul class="list-group col-sm-8 offset-sm-2">
    <li class="list-group-item d-flex justify-content-between">
        <h5><b>Job Advertisements</b></h5>
        <span class="badge bg-primary rounded-pill">@Model.Advertisements.Count()</span>
    </li>
    <form>
    <li class="list-group-item">
        <div class="row">
            <div class="col">
                <input class="form-control" asp-for="SearchCriteria" type="search" placeholder="Company name or job position...">
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                <select class="form-control" asp-for="@Model.TypeCriteria">
                    <option value="">Select job type</option>
                        @foreach (var jobType in JobTypes.types)
                        {
                        <option>@jobType</option>
                        }
                </select>
            </div>
            <div class="col-4">
                <select class="form-control" asp-for="@Model.LocationCriteria">
                    <option value="">Select location</option>
                        @foreach (var location in Locations.locations)
                        {
                        <option>@location</option>
                        }
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </li>
    </form>
    <li class="list-group-item">
        @if (Model.Advertisements.Count() != 0)
        {
            @foreach (var item in Model.Advertisements)
            {
                <div class="row">
                    <div>
                        <div class="job-card">
                            <div class="job-card__content">
                                <div class="job-card__content-top">
                                    <div class="job-card_img">
                                        <img src="~/company-logos/@item.Company/@item.ImagePath" alt="Company Logo">
                                    </div>
                                    <div class="job-card_info">
                                        <a href="#!" class="job-card_company">
                                            <h4 class="mb-1 d-inline-block">@item.Company</h4>
                                        </a>
                                        <p class="text-muted mb-0">@item.Location</p>
                                    </div>
                                </div>
                                <div class="job-card_content-mid">
                                    <h4>@item.Position</h4>
                                    <p class="mb-0">@item.Wage dkk/h</p>
                                    <div class="job-card_job-type d-flex justify-content-between">
                                        <span class="job-label">@item.JobType</span>
                                        <span class="job-label text-muted">Posted: @item.Posted.ToShortDateString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="job-card__footer">
                                @if (User.IsInRole("Admin"))
                                {
                                     <div class="col-xs">
                                        <a class="btn btn-outline-danger" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Delete">Delete</a>
                                    </div>
                                    <div class="col-xs">
                                        <a class="btn btn-outline-primary" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Details">Details</a>
                                    </div>
                                    <div class="col-xs">
                                        <a class="btn btn-outline-primary" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Edit">Edit</a>
                                    </div>
                                    <div class="col-xs">
                                        <a class="btn btn-outline-primary" asp-route-advertisementId="@item.Id" asp-page="/Applications/Applications">Applied</a>
                                    </div>
                                }
                                else if (User.IsInRole("Student"))
                                {
                                    <div class="col-xs">
                                        <a class="btn btn-outline-primary" asp-route-advertisementId="@item.Id" asp-page="/Advertisements/Details">Details</a>
                                    </div>
                                    <div class="col-xs">
                                        @if (!await apService.IsUserAppliedAsync(Model.LoggedUser.Id, item.Id))
                                        {
                                            <a class="btn btn-outline-success" asp-route-advertisementId="@item.Id" asp-page="/Applications/Create">Apply</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-secondary" style="pointer-events: none">Pending...</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h6>There were no advertisement found matching your criteria</h6>
        }
    </li>
</ul>
