@page
@model zeaploy.Pages.Advertisements.CreateModel
@{
}

<ul class="list-group col-sm-8 offset-sm-2">
    <li class="list-group-item">
        <h5><b>Create a job advertisement</b></h5>
    </li>
    <li class="list-group-item">
        <div class="card mt-2">
            <div class="card-body bg-light">
                <form method="post" id="contact-form" role="form" enctype="multipart/form-data">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted mb-0" asp-for="@Model.Advertisement.Company"></label>
                                    <input class="form-control" asp-for="@Model.Advertisement.Company" type="text" placeholder="Enter company name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted mb-0 form-label mt-4" for="formFile">Company Logo</label>
                                    <input type="file" class="form-control" id="formFile" asp-for="@Model.Logo">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted mb-0" asp-for="@Model.Advertisement.Position"></label>
                                    <input class="form-control" asp-for="@Model.Advertisement.Position" type="text" placeholder="Enter job position">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted mb-0" asp-for="@Model.Advertisement.Wage"></label>
                                    <input class="form-control" asp-for="@Model.Advertisement.Wage" type="number" placeholder="Enter hourly salary in DKK">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted mb-0" asp-for="@Model.Advertisement.JobType"></label>
                                    <select class="form-control" asp-for="@Model.Advertisement.JobType">
                                        <option value="" selected disabled>Select job type</option>
                                        <option>Part-time</option>
                                        <option>Full-time</option>
                                        <option>Internship</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group justify-content-md-around">
                                <label class="text-muted mb-0" asp-for="@Model.Advertisement.Location"></label>
                                <select class="form-control" asp-for="@Model.Advertisement.Location">
                                    <option value="" selected disabled>Select Location</option>
                                    <option>Roskilde</option>
                                    <option>Copenhagen</option>
                                    <option>Køge</option>
                                    <option>Næstved</option>
                                    <option>Valby</option>
                                    <option>Remote / From home</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="text-muted mb-0" asp-for="@Model.Advertisement.Description"></label>
                                    <textarea class="form-control" asp-for="@Model.Advertisement.Description" placeholder="Write a description for the job position here" rows="4"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-outline-success">Create advertisement</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>
