@page "{advertisementId}"
@model zeaploy.Pages.Advertisements.EditModel
@{
}

<ul class="list-group col-sm-8 offset-sm-2">
    <li class="list-group-item">
        <h5><b>Edit advertisement</b></h5>
    </li>
    <li class="list-group-item">
        <div class="card mt-2">
            <div class="card-body bg-light">
                <form method="post" id="contact-form" role="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Id" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Id" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Company" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Company" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Description" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Description" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.JobType" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.JobType" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Position" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Position" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Posted" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Posted" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Wage" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Wage" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Advertisement.Location" class="control-label"></label>
                                    <input asp-for="@Model.Advertisement.Location" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="mb-0" asp-for="@Model.Advertisement.ImagePath"></label>
                                <input type="file" accept=".jpg, .png, .jpeg" class="form-control" id="formFile" asp-for="@Model.Logo">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-outline-success" type="submit" value="Edit">Save Changes</button>
                                <button class="btn btn-outline-warning" type="reset">Reset form</button>
                                <a class="btn btn-outline-danger" asp-page="/Advertisements/Advertisements">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>