@page
@model zeaploy.Pages.Profile.EditModel
@{
}

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (String.IsNullOrEmpty(Model.LoggedInUser.ImagePath))
                            {
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            }
                            else
                            {
                                <img src="~/user-data/profile-pictures/@Model.LoggedInUser.Id/@Model.LoggedInUser.ImagePath" alt="Admin" class="rounded-circle" width="150">
                            }

                            <div class="mt-3">
                                <h4>@Model.LoggedInUser.Name</h4>

                                @if (User.IsInRole("Student"))
                                {
                                    @if (!String.IsNullOrEmpty(Model.LoggedInUser.Course))
                                    {
                                        <p class="text-muted mb-1">Course: @Model.LoggedInUser.Course</p>
                                    }
                                    else
                                    {
                                        <p class="text-muted mb-1">Not enrolled in a course</p>
                                    }

                                    @if (!String.IsNullOrEmpty(Model.LoggedInUser.JobTitle))
                                    {
                                        <p class="text-muted mb-1">Job title: @Model.LoggedInUser.JobTitle</p>
                                    }
                                    else
                                    {
                                        <p class="text-muted mb-1">Unemployed</p>
                                    }
                                }
                            </div>
                            <div>
                                @if (Model.LoggedInUser.ImagePath != null)
                                {
                                    <form asp-page-handler="remove" method="post">
                                        <button class="btn btn-outline-danger">Remove profile picture</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    <div class="card mb-3">
                        <div class="card-body">

                            <!-- Email readonly -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="@Model.LoggedInUser.Email" class="text-muted mb-0"></label>
                                </div>
                                <div class="form-group col-sm-9">
                                    <input type="text" class="form-control" asp-for="@Model.LoggedInUser.Email" readonly />
                                </div>
                            </div>
                            <hr />

                            <!-- Full name -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="@Model.LoggedInUser.Name" class="text-muted mb-0"></label>
                                </div>
                                <div class="form-group col-sm-9">
                                    <input type="text" class="form-control" asp-for="@Model.LoggedInUser.Name" />
                                    <span asp-validation-for="@Model.LoggedInUser.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />

                            <!-- Phone Number -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="@Model.LoggedInUser.PhoneNumber" class="text-muted mb-0">Phone number</label>
                                </div>
                                <div class="form-group col-sm-9">
                                    <input type="tel" class="form-control" asp-for="@Model.LoggedInUser.PhoneNumber" />
                                    <span asp-validation-for="@Model.LoggedInUser.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            @if (User.IsInRole("Student"))
                            {
                                <!-- Course -->
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.LoggedInUser.Course" class="text-muted mb-0"></label>
                                    </div>
                                    <div class="form-group col-sm-9">
                                        <input type="text" class="form-control" asp-for="@Model.LoggedInUser.Course" />
                                        <span asp-validation-for="@Model.LoggedInUser.Course" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />

                                <!-- Job title -->
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.LoggedInUser.JobTitle" class="text-muted mb-0">Job title</label>
                                    </div>
                                    <div class="form-group col-sm-9">
                                        <input type="text" class="form-control" asp-for="@Model.LoggedInUser.JobTitle" />
                                        <span asp-validation-for="@Model.LoggedInUser.JobTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                            }
                            <!-- Location -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="@Model.LoggedInUser.Location" class="text-muted mb-0"></label>
                                </div>
                                <div class="form-group col-sm-9">
                                    <input type="text" class="form-control" asp-for="@Model.LoggedInUser.Location" />
                                    <span asp-validation-for="@Model.LoggedInUser.Location" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />

                            <!-- Profile picture -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="formFile" class="text-muted mb-0">Profile Picture</label>
                                </div>
                                <div class="form-group col-sm-9">
                                    <input type="file" accept=".jpg, .png, .jpeg" class="form-control" asp-for="@Model.ImageUpload" />
                                </div>
                            </div>
                            <hr />

                            <!-- Buttons -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-outline-success">Save Changes</button>
                                    <button type="reset" class="btn btn-info">Reset form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
